{
  "root": true,
  "extends": ["standard", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": false
      }
    ]
  },
  "globals": {
    "IS_DEVELOPMENT": "readonly"
  },
  "parseroptions": {
    "ecmasVersion": 2020
  }
}
