%origin-reveal-bottom-title {
  transform: translateY(50%);
  opacity: 0;
}

%origin-reveal-bottom-link {
  transform: translateY(100%);
  opacity: 0;
}

%origin-reveal-bottom-paragraph {
  transform: translateY(100%);
  opacity: 0;
}
