<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 38.318 26.437">
  <path id="Path_3" data-name="Path 3" d="M39.733-15.97,26.594-2.74h-8.6L28.233-12.87H1.415v-6.177H28.233L17.991-29.177h8.6Z" transform="translate(-1.415 29.177)"/>
</svg>