.playground {
  @extend %page;
  // @extend %mask;
  position: relative;
}

.playground__navigation__spacer {
  @extend %spacer-navigation;
}

.playground__title__container {
  @extend %title-container;
}

.playground__title {
  @extend %page-title;
  @extend %origin-reveal-bottom-title;
  margin-left: 5rem;
  @include media('<phone') {
    margin-left: 3rem;
  }
}

.playground__project__item__wrapper {
  overflow: hidden;
}

.playground__project__item {
  @extend %spacer-lines;
}

.playground__project__item__link__wrapper {
  @extend %text-lines;
  overflow: hidden;
}

.playground__project__item__link {
  @extend %origin-reveal-bottom-link;
}

.playground__bottom__space {
  // @extend %spacer17;
  @extend %border-sides;
  margin: auto;
  max-width: 90vw;
  height: clamp(20rem, 60vh, 90rem);
}
